.wrapper {
    height: 100px;
    color: #F1EDE3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightgray);
}

/*NAVIGATION*/
.nav-list {
    width: 50%;
    height: 50px;
    margin: 0 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--darkgray);
    border-radius: 25px;
}

.nav-list ul {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    list-style: none;
}

.nav-list ul li {
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list ul li:hover {
    cursor: pointer;
    background-color: var(--lightgray);
    color: var(--orange);
    transition: all 0.5s ease;
}