.home-wrapper {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    width: 100%;
    height: 900px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url(../images/lofi.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--darkblue)
}

/*HOME BACKGROUND TITLE*/
.home-background-title {
    position: absolute;
    z-index: 0;

    /*Position*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /*Größe*/
    font-size: 500px;

    /*Hintergrund*/
    color: var(--darkblue);
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*HOME INHALT*/
.home-inhalt {
    position: relative;
    z-index: 1;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}

.home-text h1 {
    font-size: 80px;
}

.home-text p {
    font-size: 20px;
}

.home-buttons {
    margin-top: 50px;
    height: 100%;
}

.home-buttons button {
    font-size: 20px;
    color: white;
    background-color: var(--darkblue);
    padding: 15px 50px;
    margin-right: 25px;
    border-radius: 50px;
    border: 1px solid white;
}

.home-buttons button:hover {
    cursor: pointer;
    background-color: var(--lightblue);
    transition: all 0.5s ease;
}