* {
  box-sizing: border-box;
  margin: 0;
}

.coming-soon {
  margin-top: 15%;
  text-align: center;
  color: lightgray;
  font-size: 80px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}